<body>
 <div class="body">
  <div class="profile-container">
  	<div class="container">
  	  <div class="row">
  	  	<div class="col-xs-3">
  	  	 <h2>User info</h2>
           <table class="table table-striped">
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
           </table>
             <table class="table">
             	<tbody>
             		<tr>
             			<th>name</th>
             			<td><%=@user.name%></td>
             		</tr>
             		<tr>
             			<th>introduction</th>
             			<td><%=@user.introduction%></td>
             		</tr>
             	</tbody>
             </table>

              <div class="row">
	        	 <%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
	                       <% User.all.where.not(id: current_user.id).each do |user| %>
	             <% end %>
              </div>

             <h2>New Film</h2>
             <%= form_for(@blog) do |f| %>
               <% if @blog.errors.any? %>
                <p>error</p>
                <% @blog.errors.full_messages.each do |msg| %>

                 <%= msg %><br>

                <% end %>
               <% end %>
                <label for="blog_title">Title</label>
                <%= f.text_field :title %>
                <label for="blog_opinion">Opinion</label>
                <%= f.text_area :body %>
                <%= f.submit 'Create Film' %>
            <% end %>
  	  	</div>

  	    <div class="col-xs-9">
  	      <h1>Users</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                 <th>image</th>
                 <th>name</th>
                </tr>
              </thead>
               <tr>
                <% @users.each do |user| %>
                 <tbody>
                   <td><%= attachment_image_tag user, :profile_image_id, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></td>
                   <td><%=user.name%></td>
                   <td><%= link_to "Show" , user_path(user.id) %></td>
                 </tbody>
                <% end %>
               </tr>
           </table>
  	  	</div>
  	  </div>
	</div>
  </div>
 </div>
</body>