<div class="container">
  <h1 class="title">Home</h1>
</div>



<body>
 <div class="body">
  <div class="profile-container">
  	<div class="container">
  	  <div class="row">
  	  	<div class="col-xs-3">
         <div class="container">
           <div class="title">
             <h5>User info</h5>
           </div>
         </div>
           <table class="table table-striped">
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
           </table>
             <table class="table">
              <tbody>
                <tr>
                  <th>name</th>
                  <td><%=@user.name%></td>
                </tr>
                <tr>
                  <th>introduction</th>
                  <td><%=@user.introduction%></td>
                </tr>
              </tbody>
             </table>

           <div class="row">
        	 <%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
                       <% User.all.where.not(id: current_user.id).each do |user| %>
             <% end %>
           </div>
  	  	</div>

  	    <div class="col-xs-9">
          <div class="title">
            <h5>Films</h5>
          </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ユーザー名</th>
                 <th>タイトル</th>
                 <th>いいね</th>
                 <th>コメント数</th>
                </tr>
              </thead>
               <tr>
                <% @blogs.each do |blog| %>
                 <tbody>
                    <td><%=@user.name%></td>
                    <td><%= link_to blog.title, blog_path(blog.id) %></td>
                    <td><%= blog.favorites.count %></td>
                    <td><%= @blog.blog_comments.count %>件コメント<td>
                 </tbody>
                <% end %>
               </tr>
           </table>
  	  	</div>
  	  </div>
	</div>
  </div>
 </div>
</body>