<div class='body'>
  <div class='container'>
    <div class="row justify-content-center">
      <h2 class= "col-sm-6 signin-title">Log in</h2>
    </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center">
    <div class="col-sm-6 signin-title">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 signin-title">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="row justify-content-center">
      <div class="col-sm-6 signin-title">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-sm-6 signin-title">
      <%= f.submit "Log in" %>
    </div>
      <% end %>
  </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
